#map{
	border:1px solid black;
	box-shadow:0 0 40px 10px black;
	position: absolute;
	left:0;top:0;right:0;bottom:0;
	margin:auto;
	/*font-size:0;*/
	line-height:0;
}
#map span{
	display:inline-block;
	border:1px solid black;
	box-sizing:border-box;
	/*vertical-align:middle;*/
}
span.snake{background-color:skyblue;}
span.food{background-color:orange;}